@import 'rsuite/styles/index.less';

@primary-color: #5B2B82;
@secondary-color: #2ecc71;
@success-color: #27ae60;
@warning-color: #f39c12;
@error-color: #e74c3c;

@font-family-base: 'Fira Sans', 'Montserrat', sans-serif;